<div layout="row">
  <div flex></div>
  <div flex-lg="70" flex="100">
    <mat-card>
      <mat-card-content>
        <div layout="row" layout-xs="column">
          <!-- Inputs -->
          <div flex="30">
            <form>
              <mat-form-field color="accent" class="full-width">
                <input matInput placeholder="Name" value="">
              </mat-form-field>
              <mat-form-field color="accent" class="full-width">
                <input matInput placeholder="File Path" disabled value="">
              </mat-form-field>
              <mat-form-field color="accent" class="full-width">
                <input matInput placeholder="Game" disabled value="">
              </mat-form-field>
              <mat-form-field color="accent" class="full-width">
                <input matInput placeholder="Duration" disabled value="">
              </mat-form-field>
            </form>
          </div>

          <div flex layout="row" layout-align="center center">
            <div class="file-upload">
              <div layout="column" layout-align="center center" class="full-height">
                <div flex="10">
                  <mat-icon>add</mat-icon>
                </div>
                <div flex="10">Drop .mp4 to start</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div flex></div>
</div>
