<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}" style="min-width: 365px; z-index: 1000;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit POI</mat-card-title>
      <mat-card-subtitle>Create and delete tags</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let tag of poi.tags">
        <div layout="row">
          <div flex="90">
            <mat-input-container class="justifier">
              <input #inputBox (keyup.enter)="add()" (keydown.tab)="add();false" placeholder="Enter tag" matInput [(ngModel)]="tag.value"
                text="text">
            </mat-input-container>
          </div>
          <div flex="10">
            <button mat-icon-button (click)="remove(tag)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <div layout="row">
        <div flex="33">
          <button mat-button (click)="add()">
            <mat-icon>add</mat-icon>Add</button>
        </div>
        <div flex="33">
          <button mat-button>
            Delete POI</button>
        </div>
        <div flex="33">
          <button mat-button (click)="close()">
            <mat-icon>close</mat-icon>
            Close

          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
