<div class="full-width poi-timeline">
  <mat-slider class="interval-slider" [min]="1" max="20" [step]="'1'" [(ngModel)]="intervalTime" (change)="setupTimeline()"></mat-slider>

  <div class="video-cursor" [ngStyle]="videoCursor.style"></div>
  <div class="poi tick" *ngFor="let poiTick of poiTicks" [ngStyle]="poiTick.style" [ngClass]="poiTick.class">
    <!-- <mat-icon>fiber_manual_record</mat-icon> -->
    <mat-icon>album</mat-icon>
  </div>
  <div class="interval tick" *ngFor="let tick of intervalTicks" [ngStyle]="tick.style" [ngClass]="tick.class">
    <div class="label">{{tick.displayLabel}}</div>
  </div>
  <div class="timeline" [ngStyle]="timelineStyle"></div>
</div>
