<div layout="row" layout-wrap>
  <mat-card flex="33" layout="row">
    <div flex="100">
      <video controls (click)="toggleVideo()" (canplay)="onFrameLoad()" #videoPlayer>
        <source [src]="videoFileUrl" /> Browser not supported
      </video>
    </div>
    <div flex="100">
      <button mat-button color="primary" (click)="analyzeVideo()">Start Analysis</button>
      <button mat-button color="primary" (click)="resetVideo()">Restart</button>
      <button mat-button color="primary" (click)="analyzeFireLevels()">Re-Analyze Fire Levels</button>
    </div>
  </mat-card>
  <mat-card flex="77" layout="row">
    FPS: {{currentAnalysisFPS}}
  </mat-card>
  <mat-card flex="100" layout="row">
    <clpn-poi-timeline [clip]="clip" [video]="video"></clpn-poi-timeline>
  </mat-card>
</div>
<div layout="row">
  <mat-chip-list>
    <mat-chip *ngFor="let poi of clip.pois" color="primary">{{poi.displayTime}}</mat-chip>
  </mat-chip-list>
</div>

<canvas #myCanvasTwo></canvas>
<canvas #myCanvas></canvas>
