<div class="tray-buttons">
  <button mat-button mat-raised-button color="primary" (click)="saveClip()">Save</button>
</div>
<div layout="row" layout-wrap (click)="disableContextMenu()">
  <mat-card flex="33" layout="row">
    <div flex="100" *ngIf="showVideo">
      <video controls (click)="toggleVideo()" (canplay)="onFrameLoad()" #videoPlayer>
        <source *ngIf="videoFileUrl" [src]="videoFileUrl" /> Browser not supported
      </video>
      <div class="remaining-time" *ngIf="startAnalysis">
        <p flex class="text-right">Remaining Time:
          <span *ngIf="analysisTimeRemainingSec >= 60">{{analysisTimeRemaining}}</span>
          <span *ngIf="analysisTimeRemainingSec < 60">{{analysisTimeRemainingSec}} seconds</span>
        </p>
      </div>
      <mat-progress-bar color="accent" *ngIf="startAnalysis" mode="determinate" [value]="clip.currentProgress"></mat-progress-bar>
    </div>
    <div flex="100">
      <button mat-button color="accent" (click)="togglePlayVideo()" [disabled]="startAnalysis">
        <mat-icon *ngIf="video?.paused">play_arrow</mat-icon>
        <mat-icon *ngIf="!video?.paused">pause</mat-icon>
      </button>
      <button mat-button color="accent" (click)="seekTime(-3)">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-button color="accent" (click)="seekTime(3)">
        <mat-icon>skip_next</mat-icon>
      </button>
      <button mat-button color="accent" (click)="analyzeVideo()" [disabled]="startAnalysis">Start Analysis</button>
      <button mat-button color="accent" (click)="resetVideo()" *ngIf="!startAnalysis">Restart</button>
      <button mat-button color="accent" (click)="pauseAnalysis()" *ngIf="startAnalysis">Stop</button>
    </div>
  </mat-card>
  <mat-card flex="77" layout="row">
    <mat-tab-group>
      <mat-tab label="POI's" layout="column">
        <div flex="auto" class="poi-chips clip-tab">
          <clpn-poi-chip (contextmenu)="onRightClick($event, poi)" *ngFor="let poi of clip?.pois" [poi]="poi"></clpn-poi-chip>
        </div>
      </mat-tab>
      <mat-tab label="Interval Analysis" layout="row">
        <div class="clip-tab">
          <mat-form-field>
            <input matInput placeholder="Interval in seconds" [(ngModel)]="intervalAnalysisLength">
          </mat-form-field>
          <app-interval-analysis *ngIf="clip" [pois]="clip.pois" [intervalLength]="intervalAnalysisLength"></app-interval-analysis>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card flex="100" layout="row">
    <clpn-poi-timeline [clip]="clip" [video]="video" [killDuration]="killDuration"></clpn-poi-timeline>
  </mat-card>
</div>

<canvas #myCanvasTwo></canvas>
<canvas #myCanvas></canvas>
<div *ngIf="contextMenu == true">
  <app-context-menu [x]="contextMenuX" [y]="contextMenuY" [poi]="contextPoi" [(open)]="contextMenu"></app-context-menu>
</div>
