<ng-container *ngIf="!(auth.user | async)">
  <router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="auth.user | async">
  <td-layout>
    <td-layout-nav color="primary">
      <div td-toolbar-content color="primary" layout="row" layout-align="start center" flex>
        <button mat-icon-button class="td-menu-button" (click)="sidenav.toggle()" mdTooltip="Main menu">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="./assets/Logo.png" class="logo">
        <!-- <span>Clippin</span> -->
        <span flex></span>
        <app-side-nav></app-side-nav>
        <button mat-icon-button>
          <mat-icon>apps</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>Settings</button>
          <button mat-menu-item (click)="auth.signOut()">
            <mat-icon>exit_to_app</mat-icon>Logout</button>
        </mat-menu>
      </div>
      <mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav mode="side" opened="false" style="width:257px;border-right:1px solid #ccc">
          <div flex class="mat-content bgc-grey-50">
            <mat-nav-list layout-fill>
              <a mat-list-item>
                <mat-icon matListIcon>history</mat-icon>Processed Clips</a>
            </mat-nav-list>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Clip One
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-list>
                  <mat-list-item>Here's a POI</mat-list-item>
                </mat-list>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <div flex class="mat-content bgc-grey-50">
            <mat-nav-list layout-fill>
              <a mat-list-item>
                <mat-icon matListIcon>hourglass_empty</mat-icon>Clips In Process</a>
            </mat-nav-list>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Clips
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-list>
                  <div *ngFor="let clip of clips">
                    <mat-list-item>{{clip.name}}</mat-list-item>
                    <mat-progress-bar [color]="clip.currentProgress < 50 ? 'warn' : 'primary'" md-mode="determinate" [value]="clip.currentProgress"></mat-progress-bar>
                  </div>
                  <!-- <mat-list-item>Clip Two</mat-list-item>
                  <mat-progress-bar #clip2 [color]="clip2.value < 50 ? 'warn' : 'primary'" md-mode="determinate" value="35"></mat-progress-bar> -->
                </mat-list>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-sidenav>
        <!-- ng content or router would go here -->
        <div tdMediaToggle="gt-xs" [mediaClasses]="['push-md']">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-container>
      <a mat-fab color="accent" matTooltip="Add new contact" matTooltipPosition="before" class="mat-fab-bottom-right z-3 fixed fab-pad">
        <mat-icon>add</mat-icon>
      </a>
      <td-layout-footer>
        <!-- <div layout="row" layout-align="start center">
            <span class="mat-caption">Copyright &copy; 2017 Clippin. All rights reserved</span>
          </div> -->
      </td-layout-footer>
    </td-layout-nav>

  </td-layout>

</ng-container>
