<div class="container">
  <div class="center-row">
    <div *ngIf="auth.user | async; then authenticated else guest"></div>
  </div>
</div>

<ng-template #guest>
  <mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>

    <!-- Writing markup for login starts -->
    <mat-grid-tile class='login-element'>
      <div class="login-container">

        <!-- Template Header starts -->
        <div class="login-box-header">
          <span class="h1">Clippin</span>
        </div>
        <!-- Template Header ends -->

        <!-- Template Body starts -->
        <div class="login-box-body">

          <!-- Markup for getting Username starts -->
          <mat-grid-list cols="9" rowHeight="75px">
            <mat-grid-tile [rowspan]="1" class="login-icon">
              <mat-icon>lock</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7">
              <mat-input-container class="justifier">
                <input matInput placeholder="Username" [(ngModel)]="user.username" text="text">
              </mat-input-container>
            </mat-grid-tile>
          </mat-grid-list>
          <!-- Markup for getting Username ends -->

          <!-- Markup for getting Password starts -->
          <mat-grid-list cols="9" rowHeight="100px">
            <mat-grid-tile [rowspan]="1" class="login-icon">
              <mat-icon>remove_red_eye</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7">
              <mat-input-container class="justifier">
                <input matInput placeholder="Password" [(ngModel)]="user.password" text="password">
              </mat-input-container>
            </mat-grid-tile>
          </mat-grid-list>
          <!-- Markup for getting Password ends signInUser createUser-->

          <div class="ui-g">
            <div class="ui-g-4">
              <button mat-raised-button (click)="auth.signInUser(user)" flex class="login-button flex">
                <mat-icon>input</mat-icon> Login
              </button>
            </div>
            <div class="ui-g-4">
              <button mat-raised-button (click)="auth.createUser(user)" flex class="login-button flex">
                <mat-icon>input</mat-icon> Register
              </button>
            </div>
            <div class="ui-g-4">
              <button mat-raised-button (click)="auth.googleLogin()" flex class="login-button flex">
                <mat-icon>input</mat-icon> Google Login
              </button>
            </div>
          </div>

        </div>
        <!-- Template Body ends -->

      </div>
    </mat-grid-tile>
    <!-- Writing markup for login ends -->
    <mat-grid-tile></mat-grid-tile>

  </mat-grid-list>

</ng-template>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <p>Favorite Color: {{ user?.favoriteColor }} </p>
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
