@import '../../../material/theme';

.container {
  height: 100%;
  width: 100%;

  display: flex;
  background-color: $bg-color;
}
.center-row {
  flex-grow: 1;
  align-self: center;
}

.login-container {
  width: 600px;
  margin: 0 auto;
  padding: 0% !important;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
}

.login-box-header {
  width: auto;
  height: 100px;
  background-color: map-get(
    $primary,
    'default'
  ); //map-get($theme, 'default-contrast'); $theme
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  color: map-get($primary, 'default-contrast');

  .logo {
    width: auto;
    height: 100%;
  }
}

.login-box-body {
  width: auto;
  // With Google Login uncommented
  // padding: 5% 5% 1% 5%;
  padding: 5% 5% 5% 5%;
}

.login-icon {
  margin-top: -2px;
  color: black;
}

.justifier {
  width: 100%;
  padding-bottom: 2%;
}

.integrated-login-parent {
  .integrated-login {
    height: 50px;
  }
}
.local-login-parent {
  button {
    margin-top: 10px;
  }
}

.mat-divider {
  margin-top: 23px;
}

// .login-button {
//   width: 100%;
//   padding: 1.5% !important;
//   background-color: #4381aa;
//   font-size: 1.5em;
//   color: #1fdb57 !important;
// }
