<div class="container">
  <div *ngIf="auth.user | async; then authenticated else guest"></div>
</div>

<ng-template #guest>
  <div class="center-row">
    <div>
      <div layout="row">
        <div flex="">
        </div>
        <div flex="650px">
          <div class="login-container">



            <!-- Template Header starts -->
            <div class="login-box-header">
              <img src="./assets/Logo.png" class="logo">
            </div>
            <!-- Template Header ends -->




            <!-- Template Body starts -->
            <div class="login-box-body">
              <div layout="row" layout-align="center center" layout-wrap>
                <div flex="60">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Username" [(ngModel)]="user.username" text="text">
                    <!-- <mat-icon matSuffix>account_box</mat-icon> -->
                  </mat-form-field>
                </div>
                <div flex="60">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Password" [(ngModel)]="user.password" type="password">
                    <!-- <mat-icon matSuffix>lock</mat-icon> -->
                  </mat-form-field>
                </div>
              </div>

              <div layout="row" layout-align="center center" layout-wrap class="local-login-parent">
                <div flex="40">
                  <button flex layout-fill mat-raised-button color="primary" (click)="auth.signInUser(user)">Login</button>
                </div>
                <div flex="100"></div>
                <div flex="40">
                  <button flex layout-fill mat-raised-button (click)="openDialog()" color="accent">Create Account</button>
                </div>
              </div>

              <!-- GOOGLE LOGIN - Setup but not working in Electron -->
              <!-- <mat-divider></mat-divider>

              <div layout="row" layout-align="center center" layout-margin layout-wrap class="integrated-login-parent">
                <div flex="100" class="text-center">OR</div>
                <div flex="35" class="integrated-login">
                  <app-social-google-btn (click)="auth.googleLogin()"></app-social-google-btn>
                </div>
              </div> -->
            </div>
            <!-- Template Body ends -->
          </div>
        </div>
        <div flex="">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #authenticated>
  <div>
    <div *ngIf="auth.user | async as user">
      <h3>Howdy, {{ user.displayName?.length >= 1 ? user.displayName : user.email }}</h3>
      <img [src]="user.photoURL != null ? user.photoURL : ''">
      <p>UID: {{ user.uid }}</p>
      <p>Favorite Color: {{ user?.favoriteColor }} </p>
    </div>
  </div>
</ng-template>
