.example-card {
  // max-width: 350px;
  // min-width: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-toolbar {
  margin-left: 8px;
  margin-top: 20px;
}
