<div>
  <mat-toolbar class="mat-dialog-title" color="primary">
    <div class="mat-toolbar-tools">
      <h2>Register New User</h2>
    </div>
  </mat-toolbar>
  <!-- <h2 color="accent" class="mat-dialog-title" mat-dialog-title="" id="register">Register New User</h2> -->

  <form #form1="ngForm" (ngSubmit)="registerUser(user)" novalidate>

    <div layout="row" layout-wrap layout-align="center center">
      <div flex="70">
        <mat-form-field class="justifier key-field" [ngClass]="keyIsValid ? '' : 'key-field-text'">
          <input required name="key" matInput placeholder="Key" [(ngModel)]="key" (ngModelChange)="reValidateKey()" text="text">
        </mat-form-field>
        <button *ngIf="!keyIsValid" mat-button mat-button-raised color="primary" (click)="validateKey()">Validate</button>
        <mat-icon *ngIf="keyIsValid" class="key-is-valid">check</mat-icon>
      </div>
      <div flex="70">
        <mat-form-field class="justifier full-width">
          <input required name="email" matInput placeholder="Email" [(ngModel)]="user.username" text="text">
        </mat-form-field>
      </div>
      <div flex="70">
        <mat-form-field class="justifier full-width">
          <input required minlength="8" name="password" matInput placeholder="Password" [(ngModel)]="user.password" type="password">
          <mat-hint align="end">{{ user.password != null ? user.password.length : 0 }} / 8 min</mat-hint>
        </mat-form-field>
      </div>
      <div flex="70">
        <mat-form-field class="justifier full-width">
          <input required name="passwordConfirm" matInput placeholder="Confirm Password" [(ngModel)]="user.passwordConfirm" type="password">
        </mat-form-field>
      </div>
    </div>
    <div row="column">
      <div flex="30">
        <button type="submit" flex layout-fill mat-raised-button flex color="accent" [disabled]="!form1.form.valid">
          <mat-icon>input</mat-icon> Register
        </button>
      </div>
    </div>

  </form>
</div>

<!-- (click)="registerUser(user)" -->
