<div>
  <mat-toolbar class="mat-dialog-title" color="primary">
    <div class="mat-toolbar-tools">
      <h2>Register New User</h2>
    </div>
  </mat-toolbar>
  <!-- <h2 color="accent" class="mat-dialog-title" mat-dialog-title="" id="register">Register New User</h2> -->

  <form #form1="ngForm" (ngSubmit)="registerUser(user)" novalidate>

    <div>

      <!-- Markup for getting Username starts -->
      <mat-grid-list cols="9" rowHeight="75px">
        <mat-grid-tile [rowspan]="1" class="login-icon">
          <mat-icon>lock</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7">
          <mat-input-container class="justifier">
            <input required name="username" matInput placeholder="Username" [(ngModel)]="user.username" text="text">
          </mat-input-container>
        </mat-grid-tile>
      </mat-grid-list>
      <!-- Markup for getting Username ends -->

      <!-- Markup for getting Password starts -->
      <mat-grid-list cols="9" rowHeight="100px">
        <mat-grid-tile [rowspan]="1" class="login-icon">
          <mat-icon>remove_red_eye</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7">
          <mat-input-container class="justifier">
            <input required minlength="8" name="password" matInput placeholder="Password" [(ngModel)]="user.password" type="password">
            <mat-hint align="end">{{ user.password != null ? user.password.length : 0 }} / 8 min</mat-hint>
          </mat-input-container>
        </mat-grid-tile>
      </mat-grid-list>
      <!-- Markup for getting Password starts -->
      <mat-grid-list cols="9" rowHeight="100px">
        <mat-grid-tile [rowspan]="1" class="login-icon">
          <mat-icon>remove_red_eye</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7">
          <mat-input-container class="justifier">
            <input required name="passwordConfirm" matInput placeholder="Confirm Password" [(ngModel)]="user.passwordConfirm" type="password">
          </mat-input-container>
        </mat-grid-tile>
      </mat-grid-list>

      <div flex="30">
        <button type="submit" flex layout-fill mat-raised-button flex color="accent" [disabled]="!form1.form.valid">
          <mat-icon>input</mat-icon> Register
        </button>
      </div>
    </div>
  </form>
</div>

<!-- (click)="registerUser(user)" -->
